@using INVUIs.Products.ProductsModel
@if (visibility)
{
    <div class="popup">
        <div class="popup-content">
            <RadzenTemplateForm TItem="ProductModel" Data="@newProduct" Submit="@CreateProduct">
                <RadzenStack Gap="1rem">

                    <RadzenRow>
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Data *"/>
                            <RadzenTextArea Name="Designation" @bind-Value="newProduct.Designation" Style="width: 100%;"/>
                            <RadzenRequiredValidator Component="Designation" Text="Designation is required"/>
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Unit of Measure *"/>
                            <RadzenDropDown Name="UnitMeasure" @bind-Value="newProduct.UnitMeasure" Data="@UnitMesures"
                                            Style="width: 100%;"/>
                            <RadzenRequiredValidator Component="UnitMeasure" Text="Unit of Measure is required"/>
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Quantity *"/>
                            <RadzenNumeric Name="Quantity" @bind-Value="newProduct.Quantity" Min="1" Style="width: 100%;"/>
                            <RadzenRequiredValidator Component="Quantity" Text="Quantity is required"/>
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Unit Price *"/>
                            <RadzenNumeric Name="UnitPrice" @bind-Value="newProduct.UnitPrice" Min="1" Style="width: 100%;"/>
                            <RadzenRequiredValidator Component="UnitPrice" Text="Unit Price is required"/>
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="TVA"/>
                            <RadzenDropDown Name="TVA" @bind-Value="newProduct.TVA" Data="@TVAOptions"
                                            Style="width: 100%;"/>
                        </RadzenColumn>
                    </RadzenRow>
                    
                    @*
                    @if (result is not null)
                    {
                        @if (result.Successed)
                        {
                            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter">
                                @success
                            </RadzenAlert>
                        }
                        else if (result.ErrorCodes is not null && result.ErrorCodes.Any())
                        {
                            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
                                @foreach (var error in result.ErrorCodes)
                                {
                                    <span>@error.Message</span>
                                }
                            </RadzenAlert>
                        }
                    }*@
                    
                    <RadzenRow>
                        <RadzenColumn Size="12" class="rz-text-align-center">
                            <RadzenButton Text="Cancel" ButtonStyle="@ButtonStyle.Danger" ButtonType="ButtonType.Button" Click="@HideModal"/>
                            <RadzenButton Text="Save" ButtonType="ButtonType.Submit" Style="margin-left: 1rem;"/>
                        </RadzenColumn>
                    </RadzenRow>

                </RadzenStack>
            </RadzenTemplateForm>

        </div>
    </div>
}