@using INVUIs.Products.ProductsModel
@if (visibility)
{
    <div class="popup">
        <div class="popup-content">
            <RadzenTemplateForm TItem="ProductModel" Data="@newProduct" Submit="@CreateProduct">
                <RadzenStack Gap="0.5rem">

                    <RadzenRow Style="margin-bottom: 0.1rem;">
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Designation *" />
                            <RadzenTextArea Name="Designation" @bind-Value="newProduct.Designation" Style="width: 100%;" />
                            <RadzenRequiredValidator Component="Designation" Text="Designation is required" />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow Style="margin-bottom: 0.1rem;">
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Unit of Measure *" />
                            <RadzenDropDown Name="UnitMeasure" @bind-Value="newProduct.UnitMeasure" Data="@UnitMesures"
                                            Style="width: 100%;" />
                            <RadzenRequiredValidator Component="UnitMeasure" Text="Unit of Measure is required" />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow Style="margin-bottom: 0.1rem;">
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="TVA" />
                            <RadzenDropDown Name="TVA" @bind-Value="newProduct.TVA" Data="@TVAOptions"
                                            Style="width: 100%;" />
                        </RadzenColumn>
                    </RadzenRow>
                    @if (result is not null)
                    {
                        @if (result.IsSuccess)
                        {
                            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter">
                                @success
                            </RadzenAlert>
                        }
                        else
                        {
                            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
                                @failure
                            </RadzenAlert>
                        }
                    }
                    <RadzenRow Style="display: flex; justify-content: flex-end;">
                        <RadzenColumn Size="12" Style="text-align: right;">
                            <RadzenButton Text="Save" ButtonType="ButtonType.Submit" ButtonStyle="@ButtonStyle.Success" Style="margin-left: 1rem;" tyle="margin-left: 1rem; font-size: 14px;" />
                            <RadzenButton Text="Cancel" ButtonStyle="@ButtonStyle.Danger" ButtonType="ButtonType.Button" Click="@HideModal" Style="font-size: 14px;" />
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenStack>
            </RadzenTemplateForm>

        </div>
    </div>
}