@using INVUIs.Products.ProductsModel
@if (visibility)
{
    <div class="popup">
        <div class="popup-content">
            <RadzenTemplateForm TItem="ProductModel" Data="@selectedProductModel" Submit="@onSelectClicked">
                <RadzenStack Gap="1rem">
                    @if (!isProductSelected && (SelectedProductId == null || SelectedProductId == Guid.Empty))
                    {
                        <RadzenRow>
                            <RadzenColumn Size="12">
                                <RadzenLabel Text="Product *" Style="font-size: 14px;"/>
                                <RadzenDropDown TValue="Guid?" Name="ProductId" @bind-Value="SelectedProductId"
                                                Data="@filteredProducts"
                                                TextProperty="Designation" ValueProperty="Id"
                                                Style="width: 100%; font-size: 14px;"
                                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                Change="onProductSelected">
                                    <Template Context="product">
                                        @if (product.Id == Guid.Empty)
                                        {
                                            <div class="d-flex align-items-center" @onclick:stopPropagation="true"
                                                 @onclick="showProductForm" style="cursor: pointer;">
                                                <RadzenIcon Icon="add_circle" Style="margin-right: 8px;"/>
                                                <span>Create Product</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <span>@product.Designation</span>
                                            </div>
                                        }
                                    </Template>
                                </RadzenDropDown>
                            </RadzenColumn>
                        </RadzenRow>
                    }

                    @if (selectedProductModel != null)
                    {
                        <RadzenRow Style="display: flex; align-items: center;">
                            <RadzenColumn Size="12" Style="text-align: left;">
                                <RadzenLabel Text="@selectedProductModel.Designation"
                                             Style="font-size: 25px; font-weight: bold; color: #257180FF; display: block;"/>
                            </RadzenColumn>
                        </RadzenRow>

                        <RadzenRow>
                            <RadzenColumn Size="4">
                                <RadzenLabel Text="Quantity *" Style="font-size: 12px;"/>
                                <RadzenNumeric TValue="int" Name="Quantity" @bind-Value="Quantity" Min="1"
                                               Style="width: 100%; font-size: 14px;"/>
                                <RadzenRequiredValidator Component="Quantity" Text="Quantity is required" Style="font-size: 12px;"/>
                            </RadzenColumn>

                            <RadzenColumn Size="8">
                                <RadzenLabel Text="Unit Price *" Style="font-size: 12px;"/>
                                <RadzenNumeric TValue="decimal" Name="UnitPrice" @bind-Value="UnitPrice" Min="1"
                                               Style="width: 100%; font-size: 14px;"/>
                                <RadzenRequiredValidator Component="UnitPrice" Text="Unit Price is required" Style="font-size: 12px;"/>
                            </RadzenColumn>
                        </RadzenRow>
                    }
                    <RadzenRow Style="display: flex; justify-content: flex-end;">
                        <RadzenColumn Size="12" Style="text-align: right;">

                            <RadzenButton Text="Select" ButtonStyle="ButtonStyle.Success" ButtonType="ButtonType.Submit" Style="margin-left: 1rem; font-size: 14px;"
                                          Disabled="@(selectedProductModel == null)"
                                          Click="@Save"/>
                            <RadzenButton Text="Cancel" ButtonStyle="@ButtonStyle.Danger" ButtonType="ButtonType.Button"
                                          Click="@HideModal" Style="font-size: 14px;"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenStack>
            </RadzenTemplateForm>
        </div>
    </div>
}

<ProductForm @ref="productForm" OnProductCreated="onProductCreated"/>