@using INV.App.Purchases
@inject NavigationManager Navigation
@rendermode InteractiveServer

<div class="d-flex justify-content-between">
    <input type="text" @bind-value="SearchTerm" placeholder="Search by order number or by supplier name" class="number-input" @bind-value:event="oninput"/>
    <div>
        @Pills
    </div>
</div> 
@if (purchaseOrderInfos is null)
{
    <h3>Loading...</h3>
}
else
{
    <div class="Container-list">
        <RadzenDataGrid Data="@purchaseOrderInfos" AllowSorting="true" AllowFiltering="true"
                        Style="width: 100%;" RowSelect="@((PurchaseOrderInfo purchaseOrderInfo) => navigatepage(purchaseOrderInfo.Id))">
            <Columns>

                <RadzenDataGridColumn Property="@nameof(PurchaseOrderInfo.Status)" Title="Status" />
                <RadzenDataGridColumn Property="@nameof(PurchaseOrderInfo.Number)" Title="Number" />
                <RadzenDataGridColumn Property="@nameof(PurchaseOrderInfo.Date)" Title="Date" />
                <RadzenDataGridColumn Property="@nameof(PurchaseOrderInfo.SupplierName)" Title="Supplier Name" />

            </Columns>
        </RadzenDataGrid>
    </div>
}
