@using INVUIs.WareHouses.Models
@if (visibility)
{
    <div class="popup">
        <div class="popup-content">
            <RadzenTemplateForm TItem="WareHouseModel" Data="@newWareHouse" Submit="@CreateWareHouse">
                <RadzenStack Gap="0.5rem">

                    <RadzenRow Style="margin-bottom: 0.1rem;">
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Warehouse Name *"/>
                            <RadzenTextBox Name="WareHouseName" @bind-Value="newWareHouse.WareHouseName" Style="width: 100%;"/>
                            <RadzenRequiredValidator Component="WareHouseName" Text="Warehouse Name is required"/>
                        </RadzenColumn>
                    </RadzenRow>

                    @if (result is not null)
                    {
                        @if (result.IsSuccess)
                        {
                            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter">
                                @success
                            </RadzenAlert>
                        }
                    }

                    <RadzenRow Style="display: flex; justify-content: flex-end;">
                        <RadzenColumn Size="12" Style="text-align: right;">
                            <RadzenButton Text="Save" ButtonType="ButtonType.Submit" ButtonStyle="@ButtonStyle.Success" Style="margin-left: 1rem; font-size: 14px;"/>
                            <RadzenButton Text="Cancel" ButtonStyle="@ButtonStyle.Danger" ButtonType="ButtonType.Button" Click="@HideModal" Style="font-size: 14px;"/>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenStack>
            </RadzenTemplateForm>
        </div>
    </div>
}