@rendermode InteractiveServer


<button type="button" class="addsupplier-button" @onclick="@showSupplierForm">
    <i class="bi bi-person-plus"></i> Add a Supplier
</button>

<div>
    <input type="text" @bind="searchName" @bind:event="oninput" placeholder="Search by supplier name" class="number-input"/>

</div>
<br>
@if (supplierFilter is null)
{
    <h3>Loading...</h3>
}
else
{
    <div class="list-supplier-container">
        @foreach (var supplier in supplierFilter)
        {
            <div class="purchase-order-card" @onclick="() => NavigateToSupplierDetails(supplier.ID)">
                <label class="purchase-order-header">
                    <a href=@selectedLink(supplier.ID)>
                        @supplier.Name
                    </a>
                </label>
                <label class="purchase-order">@supplier.Address</label>
                <label class="purchase-order">@supplier.Email</label>
                <label class="purchase-order">@supplier.Phone</label>
            </div>
        }
    </div>
}

<SupplierForm @ref="supplierForm"/>