@using INVUIs.Shared
<div class="container-supplier">
    <div class="content-info-suplier">
        <div class="info-box pos-titel-info-supplier">
            <div class="titel-primary">
                <h2>@Supplier.CompanyName</h2>
            </div>
            <div class="titel-secondary">
                <h4> @Supplier.CompanyName</h4>
            </div>
        </div>

        <div class="info-boxs-show">
            <div class="info-box-part1">
                <LabledValue IconClass="bi bi-telephone" Value="@Supplier.Phone"/>
                <LabledValue IconClass="bi bi-envelope-at" Value="@Supplier.Email"/>
            </div>

            <div class="info-box-part2">
                <LabledValue IconClass="bi bi-geo-alt" Value="@Supplier.Address"/>
                <LabledValue Label="RC N°" Value="@Supplier.RC"/>
            </div>
        </div>

        @if (moreInfoVisible)
        {
            <div class="info-boxs-hide">
                <div class="info-box-part1">
                    <LabledValue Label="NIS" Value="@Supplier.NIS"/>
                    <LabledValue Label="NIF" Value="@Supplier.NIF"/>
                    <LabledValue Label="ART" Value="@Supplier.ART"/>

                </div>
                <div class="info-box-part2">
                    <LabledValue Label="RIB" Value="@Supplier.RIB"/>
                    <LabledValue Label="Bank Agency" Value="@Supplier.BankAgency"/>
                </div>
            </div>
        }
    </div>

    <div class="btn-pos-supplier">
        <button class="btn-custom btn-submit" type="button" @onclick="() => supplierForm.ShowModal()"><i class="bi bi-pen"></i>Edit</button>
        <button class="btn-custom btn-cancel" type="button" @onclick="showMore">more info...</button>
    </div>

</div>

<SupplierForm @ref="supplierForm"/>