@page "/order"
@using INVUIs.BonCommande
@rendermode InteractiveServer

<PageTitle>Purchase Order</PageTitle>
<h4>Order Document</h4>

<button type="button" class="click" @onclick="() => ShowSection(1)">Definition of the economic operator  <i class="bi @(GetIconClass(1))">
    </i></button>
<button  type="button" class="click" @onclick="() => ShowSection(2)">Characteristics of the order  <i class="bi @(GetIconClass(2))"></i>
</button>
<button type="button" class="click" @onclick="() => ShowSection(3)">Products Order <i class="bi @(GetIconClass(3))"></i>
</button>

<div style="margin-top:10px;">
    @if (activeSection==1)
    {
         <SupplierCommande @ref="supBC" OnSupplier="GetSupplier"/>
    }
    @if (activeSection==2)
    {
        <DetailsCommande @ref="detailsBC" OnPurchaseOrder="GetPurchase"></DetailsCommande>
    }
    @if (activeSection==3)
    {
        <div class="section"> <ProductsCommande @ref="productsBC" OnProductAddProduct="GetProduct"></ProductsCommande></div>
    }
</div>
<br/> <br/>
<button type="submit" class="create-button" @onclick="create">Create</button>

<ToastValidation Type="toastType" Title="@toastTitle" Message="@toastMessage" IsVisible="isToastVisible"
                 OnClose="CloseToast"/>