@page "/"

@rendermode InteractiveServer

<div class="order-document">
    <h4>Order Document</h4>
    @foreach (var sectionItem in sectionItems)
    {
        <div class="section">
            <button class="toggle-button" @onclick="() => ToggleSection(sectionItem)" aria-label="@($"Toggle {sectionItem.Title} section")">
                @GetSectionIcon(sectionItem.IsVisible)
            </button>
            <span class="section-title">@sectionItem.Title</span>
            @if (sectionItem.IsVisible)
            {
                <div class="section-content">
                    @if (sectionItem.Title == "Definition of the contracting authority")
                    {<div class="form-row">
                            <div class="form-group">
                                <label for="contractingName">Naming:</label>
                                <input type="text" id="contractingName" @bind="contractingName" class="input-field" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="payingAgentCode">Paying Agent Code (Disbursement Order):</label>
                                <input type="number" id="payingAgentCode" @bind="payingAgentCode" class="input-field" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="contractingAddress">Address:</label>
                                <input type="text" id="contractingAddress" @bind="contractingAddress" class="input-field" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="contactInfo">Phone or Fax:</label>
                                <input type="number" id="contactInfo" @bind="contactInfo" class="input-field" readonly/>
                            </div>

                        </div>
                    }
                    else if (sectionItem.Title == "Definition of the economic operator")
                    {
                        <div class="form-group">
                            <label>Choose a Supplier :</label>
                            <select id="supplierExists"  class="input-field">
                                <option value="1">Supplier1 </option>
                                <option value="2">Supplier2</option>
                                <option value="3">Supplier3</option>
                                <option value="4">Supplier4</option>
                            </select>   
                            <button type="button" class="add" onclick="@navigatePage"><i class="fa fa-plus"></i>Add a Supplier</button>
                        </div>

                         
                        <div class="form-row">
                                <div class="form-group">
                                    <label for="firstName">First and Last Name:</label>
                                    <input type="text" id="firstName" @bind="firstName"  class="input-field" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="companyName">Or Company Name (Legal form determination):</label>
                                    <input type="text" id="companyName" @bind="companyName"  class="input-field" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="actsOnBehalf">Acts on Behalf of:</label>
                                    <input type="text" id="actsOnBehalf" @bind="actsOnBehalf"  class="input-field" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="operatorAddress">Address:</label>
                                    <input type="text" id="operatorAddress" @bind="operatorAddress"  class="input-field" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="operatorContact">Phone or Fax:</label>
                                    <input type="number" id="operatorContact" @bind="operatorContact"  class="input-field" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="registrationNumber">Commercial registration number:</label>
                                    <input type="text" id="registrationNumber" @bind="registrationNumber"  class="input-field" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="articleNumber">Article number:</label>
                                    <input type="number" id="articleNumber" @bind="articleNumber" class="input-field" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="tin">Tax identification number (TIN):</label>
                                    <input type="number" id="tin" @bind="tin"  class="input-field" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="statisticalNumber">Statistical identification number:</label>
                                    <input type="number" id="statisticalNumber" @bind="statisticalNumber"  class="input-field" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="bankStatement">Bank or postal account statement:</label>
                                    <input type="text" id="bankStatement" @bind="bankStatement"  class="input-field" readonly/>
                                </div>
                            
                        </div> 
                    }
                    @if (sectionItem.Title ==  "Characteristics of the order")
                    {     <div class="card p-4 shadow-sm">

                        <p class="checkbox-group">
                            <input type="checkbox" id="works" name="orderType" />
                            <label for="works">Works</label>

                            <input type="checkbox" id="equipment" name="orderType" />
                            <label for="equipment">Equipment</label>

                            <input type="checkbox" id="services" name="orderType" />
                            <label for="services">Services</label>
                        </p>
                        <p class="radio-group">
                            <input type="radio" name="orderCategory" />
                            <label for="operating"> Operating expenses</label>

                            <input type="radio" name="orderCategory" />
                            <label for="equipment"> Equipment expenses</label>

                            <input type="radio" name="orderCategory" />
                            <label for="other"> Other expenses</label>

                        </p>
                        <div class="form-group">
                            <label>Choose an Article and a Chapter :</label>
                            <select class="input-field">
                                <option value="1">25/40 </option>
                                <option value="2">26/41</option>
                                <option value="3">27/42</option>
                                <option value="4">28/43</option>
                            </select> 
                        </div>
                        <table class="table table-bordered mt-3">
                            <thead class="table-light">
                            <tr>
                                <th style="width: 8%;">Number</th>
                                <th style="width: 51%;">Data</th>
                                <th style="width: 8%;">Unit of Measure</th>
                                <th style="width: 9%;">Quantity</th>
                                <th style="width: 20%;">Unit Price</th>
                                <th style="width: 4%;">Actions</th>


                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var product in products)
                            {
                                <tr>
                                    <td><input type="number" class="form-control" @bind="product.Number"></td>
                                    <td><input type="text" class="form-control" @bind="product.Data"></td>
                                    <td><input type="text" class="form-control" @bind="product.UnitOfMeasure"></td>
                                    <td><input type="number" class="form-control" @bind="product.Quantity"></td>
                                    <td><input type="number" class="form-control" @bind="product.UnitPrice"></td>
                                    <td><button type="button" class="btn btn-danger" @onclick="()=>DeleteProduct(product)"><i class="fa fa-trash"></i></button></td>

                                </tr>
                            }
                            </tbody>

                        </table>
                            <div class="form-group">
                                <label>Choose TVA :</label>
                                <select class="input-field">
                                    <option value="1">9% </option>
                                    <option value="2" selected >19%</option>
                                    <option value="3">exonerated</option>
                                </select>  <button type="button" class="add" @onclick="AddProduct"><i class="fa fa-plus"></i>Add a product</button>
                            </div> <br/>
                            <p>The economic operator is obligated to fulfill this order according to the specified conditions.</p>
                            <p>The delivery or execution time is estimated at :<input type="number" id="delivery_time" @bind="delivery_time" class="input-field delivery-time"/>

                       days  </p>
                    </div> }
                </div>
            }
                </div>
            }
        
    <button @onclick="@Sucses" class="create-button">Create</button> </div>
    <ToastValidation Type="toastType" Title="@toastTitle" Message="@toastMessage" IsVisible="isToastVisible"
                     OnClose="CloseToast"/>