@rendermode InteractiveServer

<div style="max-height: 300px; overflow-y: auto;">
    <div class="btn-add-product" style="display: flex; justify-content: flex-end;">
        <button type="button" class="addproduct-button" @onclick="OpenPopup">
            <i class="bi bi-plus-circle"></i> Add a product
        </button>
    </div>


    <table class="table table-bordered mt-3 text-center">
        <thead class="table-light">
        <tr>
            <th style="width: 3%;">Number</th>
            <th style="width: 35%;">Data</th>
            <th style="width: 4%;">Unit of Measure</th>
            <th style="width: 7%;">Quantity</th>
            <th style="width: 15%;">Unit Price</th>
            <th style="width: 9%;">TVA</th>
            <th style="width: 18%;">Total</th>
            <th style="width: 10%;">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in products)
        {
        <tr>
            <td>@product.Number</td>
            <td>
                @product.Designation
                <!--  <textarea>@product.Data</textarea>  -->
            </td>
            <td>@product.UnitMeasure</td>
            <td>@product.Quantity</td>
            <td>@product.UnitPrice</td>
            <td>@product.TVA %</td>
            <td>@product.TotalPrice.ToString("N")</td>
            <td>
                <button type="button" class="editproduct-button" @onclick="() => EditProduct(product)">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <button type="button" class="deleteproduct-button" @onclick="() => DeleteProduct(product)">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>


<div class="popup" style="display:@(showPopup ? "flex" : "none")">
    <div class="popup-content">
        <h3>Add Product</h3>
        <br/>
        <EditForm Model="newProduct" OnValidSubmit="SaveProduct">
            <DataAnnotationsValidator/>

            <div class="form-grid">
                <div class="commend-input">
                    <label>Data <span style="color: red">*</span></label>
                    <InputTextArea class="form-control valid" @bind-Value="newProduct.Designation"/>
                    <ValidationMessage For="@(() => newProduct.Designation)"/>
                </div>

                <div class="commend-input">
                    <label>Unit of Measure <span style="color: red">*</span></label>
                    <InputText class="form-control" @bind-Value="newProduct.UnitMeasure"/>
                    <ValidationMessage For="@(() => newProduct.UnitMeasure)"/>
                </div>
                <div class="commend-input">
                    <label>Quantity<span style="color: red">*</span></label>
                    <InputNumber class="form-control" @bind-Value="newProduct.Quantity" min=1 />
                    <ValidationMessage For="@(() => newProduct.Quantity)"/>
                </div>
                <div class="commend-input">
                    <label>Unit Price <span style="color: red">*</span></label>
                    <InputNumber class="form-control" @bind-Value="newProduct.UnitPrice" min=1 />
                    <ValidationMessage For="@(() => newProduct.UnitPrice)"/>

                </div>
                <div class="commend-input">
                    <label>TVA</label>
                    <InputSelect class="form-control text-center valid" @bind-Value="newProduct.TVA">
                        <option value="9">9%</option>
                        <option value="0">0%</option>
                        <option selected value="19">19%</option>

                    </InputSelect>
                    <ValidationMessage For="@(() => newProduct.TVA)"/>
                </div>
            </div>
            <div class="popup-button">
                <button type="button" class="cancel-btn" @onclick="closePopup">Cancel</button>
                <button type="submit">Save</button>


            </div>
        </EditForm>
    </div>
</div>
